body
{
  cursor: default;
}

.latest-posts > ol > li
{
  cursor: pointer;
}

main ol,
main ul,
.inside-list
{
  list-style-position: inside;
}

.bulletless-list
{
  list-style-type: none;
}

nav .toolbar__title
{
  color: #fff;
}

aside a,
.no-decoration,
.subheading a,
.search-results a
{
  text-decoration: none;
}

.no-color
{
  color: transparent !important;
}

aside a,
main .subheading a,
.search-results a
{
  border-bottom: solid 1px #ccc;
  transition: border-color .5s ease-in-out;
}

aside a:hover,
main .subheading a:hover,
.search-results a:hover
{
  border-bottom: solid 1px rgba(0, 0, 0, .87);
}

aside .title a
{
  border: 0;
}

.toolbar-nav-button
{
    width: 120px;
}

.alignnone.size-full
{
  border: solid 1px #ccc;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2),
              0 12px 17px 2px rgba(0, 0, 0, .14),
              0 5px 22px 4px rgba(0, 0, 0, .12);
}

nav .title a
{
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: .65em;
  text-transform: uppercase;
  font-variant: all-small-caps;
}

nav h1,
nav .title a
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

nav .headline
{
  font-size: 20px !important;
  line-height: 22px !important;
}

*:active,
*:focus
{
  outline: none;
}

.inline-flex
{
  display: inline-flex;
}

.opaque-btn:hover
{
  opacity: 1 !important;
}

.cat-tag-label-btn
{
  font-size: 14px;
  font-variant: all-small-caps;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 1em;
  display: inline-block;
  line-height: 36px;
}
